.App {
}

.App h1 {
  font-weight: 700;
}
.App dl {
  margin-bottom: 0;
}
.App dd {
  margin-bottom: 0.3em;
}

.App__nav {
  background: white;
  padding: 1em;
  position: fixed;
  top: 1rem;
  left: 0.5rem;

  font-family: PT Serif, sans-serif;
  font-size: 1rem;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .App__nav {
    font-size: 14px;
  }
}

.App__nav dl {
  font-family: 'PT Sans', serif;
}

.App__link {
  margin: 0 1rem;
  text-transform: uppercase;
}
